

<div class="card" >
<h2>¡Create a new account!</h2>

  <form class="card" action="/auth/signup" method="POST">
 
    <label>Username</label>
      <input type="text" name="username" placeholder="JohnDoe88" />
 
    <label>Email</label>
      <input type="email" name="email" placeholder="john@doe.com" />
    
    <label>Password</label>
      <input type="password" name="password" placeholder="********" />

    <label>Choose profile picture</label>
    <input type="file" name="profilePicture">


      {{#if error}}
      <p style="color: red;">{{error}}</p>
      {{/if}}
 
    <button type="submit">Create account</button>
 
  </form>
</div>