


<div class="cards" >
<h1>User update</h1>

  <form  class="cardsAuth" action="/auth/{{id}}/update" method="POST">
 
    <label>Username</label>
      <input type="text" name="username" value="{{username}}" />
 
    <label>Email</label>
      <input type="email" name="email" value="{{email}}" />

      {{#if error}}
      <p style="color: red;">{{error}}</p>
      {{/if}}
 
    <button type="submit">Update</button>
 
  </form>
</div>