<div id="guestuser" >
<h1>Welcome <br>Guest User</h1>


  <div class="container-guest">
    <img src="/pictures/ninja.png" alt="profile picture"class="picture-profile"><br>

    <h2>What do your want to do</h2>


    <div class="flex-row">
        <button class="bt1" onclick="window.location.href='/brick/list'">Bricks list  <i class="fa-solid fa-rocket"></i></button>
        <button class="bt2" onclick="window.location.href='/storage/storage'">Storage list <i class="fa-solid fa-user-astronaut"></i></button><br>
        </div>
      <div class="sectionbt-intro-bottom">
        <button class="bt3" onclick="window.location.href='/auth/signup'">Sign up <i class="fa-solid fa-user-ninja"></i></button>
      </div>

    
  </div>
</div>   