<h2>What do your want to do</h2>

    <button class="bt1" onclick="window.location.href='/brick/list'">Show list all Bricks</button> 
    <button class="bt1" onclick="window.location.href='/storage/storage'">Show list all Storage</button>
    <button class="bt1" onclick="window.location.href='/auth/signup'">Sign up</button>
    <button class="bt1" onclick="window.location.href='/auth/login'">Log in</button>