
<h1>Welcome {{user.username}}</h1>
<img src="{{user.imageUrl}}" alt="profile picture"><br>

<h2>What do your want to do</h2>

    <button class="bt1" onclick="window.location.href='/brick/list'">Show list all Bricks</button> 
    <button class="bt1" onclick="window.location.href='/brick/create-brick'">Create brick</button>     
    <button class="bt1" onclick="window.location.href='/storage/storage'">Show list all Storage</button>
    <button class="bt1" onclick="window.location.href='/storage/create'">Create storage</button>
    <button class="bt1" onclick="window.location.href='/auth/pageFind'">Search</button> 
    <button class="bt1" onclick="window.location.href='/profiles/{{user._id}}/userProfile'">User profile</button> 


