

<div class="card">

  <h2>Edit storage</h2>
  <form  method="POST" action="/storage/{{storage._id}}/edit">

  <label>Box name</label>
  <input type="text" name="boxname" value='{{storage.boxname}}'/>
    
 <p>Bricks</p>
  <select name="bricks" multiple>
                {{#each brick}}
                    <option value="{{_id}}">{{brickCategoryName}}</option>
                {{/each}}
            </select> 
  <button type="submit">Storage updated</button>
</form>
</div>
