

<div class="card" id="edit-form">

  <h2>Edit storage</h2>
  <form  method="POST" action="/storage/{{_id}}/edit">

  <label>Box name</label>
  <input type="text" name="boxname" value='{{boxname}}'/>

  
  <input type="text" name="picture" value='{{picture}}'/>

 

  <button type="submit">Storage updated</button>

</form>
</div>
