<h2>Add a new storage</h2>

<div class="card">
<form method="POST" action="/storage/create">

  <label>Name</label>
  <input type="text" name="boxname"/>

  <label>Picture</label>
  <input type="text" name="picture" />
    <label>Bricks</label>
  <select name="bricks" multiple>
      {{#each bricks}}                    
          <option value="{{_id}}">{{brickCategoryName}}</option>                 
      {{/each}}
  </select>

  

 
 

  <button type="submit">Add a new storage</button>

</form>
</div>
