<div id="create-brick">

<div class="container-forms">
<h1>Add a new box</h1>
<h2>to storage your Lego parts</h2>



<form action="/storage/create" method="post" class="form-singup">

  <label>Name</label>
  <input type="text" name="boxname"/>

  <label>Picture URL</label>
  <input type="text" name="picture" />

   <div class="bottom-signlogin">
            <button type="submit" class="btn-green">¡Add a new box! <i class="fa-solid fa-rocket"></i></button>
    </div>

</form>
</div>





