<div id="list-storage">
   
  <div class="container-forms">
       <h1>Storage list</h1>
      {{#unless storage}}
        <h2>There isn't any boxs to show</h2>
      {{/unless}}
  
  <div class="list">

    {{#each storage}}
        <div class="card">
         <div class="pict-card">
       
             <a href='/brick/{{_id}}/details-brick'"> <img src="{{picture}}" alt="box"  onerror="this.remove()" ></a>
        </div>
      <div class="info-list">   
         <h3>{{boxname}}</h3>
        
        <a class="more-info" href='/storage/{{_id}}/storagedetails'">
         <div class="div-more">
            <i class="fa-solid fa-circle-info"></i>
        </div>
        </a>
      </div>
        
        </div>
    {{/each}} 
</div>

   {{#if user}}
 <div class="bottom-section-admin-bt">
         <div class="col flex-column">
             <p>Bricks:</p>
             <div class="bottons-admin">
             <button class="bt5" onclick="window.location.href='/brick/create-brick'">Add <i class="fa-solid fa-plus"></i></button> 
             <button class="bt6" onclick="window.location.href='/brick/list'">List <i class="fa-solid fa-table-list"></i></button> 
             </div>
         </div>
         <div class="column-center flex-column">
            <p></p>
            <button onclick="history.back()" class="bt7"><i class="fa-solid fa-backward"></i></button>  
        </div>
        <div class="col flex-column">
             <p>Storages:</p>
             <div class="bottons-admin">
             <button class="bt5" onclick="window.location.href='/storage/create'">Add <i class="fa-solid fa-plus"></i></button> 
             <button class="bt6" onclick="window.location.href='/storage/storage'">List <i class="fa-solid fa-table-list"></i></button> 
             </div>
         </div>


 </div>
      {{/if }}  