<div id="list-storage">
      <h1>Storage list</h1>

  <div class="container-storage">
    {{#if user}}
    <a class="action-btn" href="/storage/create"><h3>Create new storage</h3></a>
    {{/if}}
<div class="pageList">
    {{#each storage}}
        <div class="card">
        <p>Name box: {{boxname}}</p>
        
        <img src="{{picture}}" alt="box">  
          <button class="bt1" onclick="window.location.href='/storage/{{_id}}/storagedetails'">More info</button>

          </form>      
        </div>
    {{/each}} 
</div>
</div>