<div id="error-page" >

  <div class="container-error">
        <div class="with-90">
            <h1>Error 404: </h1>
            <h2>Page {{ path }} not found.</h2>
        </div>
        <div class="video-section">
            <video src="/pictures/Green-Screen-114674.mp4" autoplay muted loop alt="lego-figure"class="error-gif"><video>
        </div>       
        <div class="bottom-section-bt">
            <button onclick="history.back()" class="bt3"><i class="fa-solid fa-backward"></i></button>  
        </div>

    </div>
