<div class="cardUser">
     <h1 class="title">Brick Manager</h1>


      <h3><a href="/brick/list",{{user}}>Show brick list</a></h3>
<h3><a href="/storage/storage">Show storage</a>   </h3> 
</div>
   
   
  



