
     <h1 class="title">Brick Manager</h1>
     <h2>App to inventory your lego bricks</h2>
      
   <div class="card">
        {{#unless user}}
        <button class="bt1" onclick="window.location.href='/auth/signup'">Sign up</button>
         <button class="bt1" onclick="window.location.href='/auth/login'">Log in</button>
         <button class="bt1" onclick="window.location.href='/guestUser/pageGuest'">Guest user</button>

        {{/unless}}
         {{#if user}}
             <h2> {{user.username}} </h2>     
      
          <form action="/auth/logout" method="post">       
          <button type="submit">Logout</button>
          </form>
    <button class="bt1" onclick="window.location.href='/pageAdmin/pageAdmin'">Page admin</button>
    <button class="bt1" onclick="window.location.href='/profiles/{{user._id}}/userProfile'">User profile</button>
        {{/if}}
      </div>


      {{!-- <h3><a href="/brick/list",{{user}}>Show brick list</a></h3>
<h3><a href="/storage/storage">Show storage</a>   </h3>  --}}

   
   
  



