 <div id ="home">
     <div class="headers-intro">
        <h1 class="title">Easy brick Manager</h1>
        <h2>The App to inventory your lego bricks</h2> 
      </div>
 
    <div class ="gif-intro">
      <img src ="/pictures/bricks.gif">

    </div> 

<!-- buttons -->
    
    <div class="sectionbt-intro">
        {{#unless user}}
        <div class="flex-row">
        <button class="bt1" onclick="window.location.href='/auth/signup'">Sign up  <i class="fa-solid fa-rocket"></i></button>
        <button class="bt2" onclick="window.location.href='/auth/login'">Log in <i class="fa-solid fa-user-astronaut"></i></button><br>
        </div>
      <div class="sectionbt-intro-bottom">
        <button class="bt3" onclick="window.location.href='/guestUser/pageGuest'">Guest user <i class="fa-solid fa-user-ninja"></i></button>
      </div>
        {{/unless}}
         {{#if user}}
         <div class="logged-title">
             <h3>Logged {{user.username}} </h3>  
        </div>
        <div class="flex-row">
          <form action="/auth/logout" method="post">       
             <button type="submit">Logout</button>
          </form>
            <button class="bt1" onclick="window.location.href='/pageAdmin/pageAdmin'">Page admin</button>
          </div>
        {{/if}}

      </div>