html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
header,
section,
footer,
article,
details {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


/* Basic styles, change according to your style */

*{
  font-family: 'Readex Pro', sans-serif;
  font-size: 14px;
  margin: 0;
  list-style: none;
}

body{
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 2.7rem;
  padding: 1vh 1vw 3vh;
  font-weight: 600;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  line-height: 0.9;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: blue;
  margin-bottom: 0px;
  z-index:1;
}

h3 {
  font-size: 1.3rem;
  font-weight: 200;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  color: #E3000B;
  text-align: center;
  margin-bottom: 0px;
  z-index:1;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1.1rem;
}

button {
  width: 175px;
  padding: 1.5vh 1vw;
  margin-top: 2vh;
  border-radius: 10px;
  border-style: solid 2px;
  font-size: 1rem;
  font-weight: 300;
}
.btn-green {
  background-color: green ;
  color: white;
}


nav#menu {
  background-color:#FFED00;
  max-width: 1000%;
  width: 100%;
  border-bottom: 4px solid #E3000B;
  position: fixed;
  
}

#menu .right {
  float: right;
}

#menu .left {
  float: left;
}

/* menu */

#menu ul {
  list-style: none;
  margin: 0;
  padding: 1vh 1vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

 /* items del menu */
 
 #menu ul li {
  background-color:#FFED00;
 }
 
 /* enlaces del menu */
 
 #menu ul a {
  display:block;
  color:#333;
  text-decoration:none;
  font-weight:400;
  font-size:14px;
  padding:10px;
  text-transform:uppercase;
  letter-spacing:1px;
 }
 
 /* items del menu */
 
 #menu ul li {
  float: left;
  margin: 0;
  padding: 0vh 3vw;
}

 /* menu img */

img.img-lego {
  width: 2rem;
}

#menu .fa-solid, .fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 1.4rem;
  margin-top: 0.5vh;
}


 /* efecto al pasar el ratón por los items del menu */
 
 #menu ul li:hover {
  background-color: verde;
  border-radius: 3px;

 }

 /* menu desplegable */

#menu ul ul {
  display:none;
  position:absolute;
  top:100%;
  left:0;
  padding:0;
  margin-top: 1vh;
 }
 
 /* items del menu desplegable */
 
 #menu ul ul li {
  float:none;
  width:150px;
  border-bottom: 1px solid #E3000B;
  display: flex;
  flex-direction: row;
  align-items: center;
 }
 
 /* enlaces de los items del menu desplegable */
 
 #menu ul ul a {
    line-height: 120%;
    padding: 1vh 2vw;
 }
 
 /* items del menu desplegable al pasar el ratón */
 
 #menu ul li:hover > ul {
  display: block;
  margin-top: 0.5vh;
}


.fa-rocket, .fa-user-astronaut, .fa-circle-xmark, .fa-puzzle-piece, .fa-box-archive, .fa-fort-awesome {
    font-size: 1rem !important;
  /*  margin-top: 0.7vh; */
    
}

#menu ul ul li .fa-brands, #menu ul ul li .fa-solid, #menu ul ul li .fa-regular {
    color: #E3000B;
    font-size: 1rem !important;
    margin-left: 5vw;
}

 /* ------------------Home page------------------ */

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh 2vw;
}

#home h1{
    z-index: 1;
} 

.headers-intro {
    max-width: 90%;
    margin: 1vh auto;
}

.gif-intro {
    padding: 0;
    margin: 0 auto;
}

.gif-intro img{
    max-width: 100%;
    margin-top: 0vh;
    z-index: 999;
}

.sectionbt-intro {
    border-top: 4px solid #E3000B;
    padding: 2vh 2vw 6vh;
    background-color: #222;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bt1 {
  background-color: blue;
  color: white;
  border: solid 2px #fff;
}

.bt2 {
  color: white;
  background-color: green;
  border: solid 2px #fff;
}

.bt3 {
  color: white;
  background-color: #E3000B;
  border: solid 2px #fff;
}

.bt4 {
  color: #333;
  background-color: #FFED00;
  border: solid 2px #fff;
}
.sectionbt-intro .fa-brands, .sectionbt-intro .fa-solid, .sectionbt-intro .fa-regular {
  margin-left: 2vh;;
}
.logged-title {
  padding: 1vh 0 3vh;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

 /* ------------------Sign up page------------------ */

 .sign-login {
  padding: 2.5vh 2vw;
 }

 .container-forms {
  margin: 5vh auto 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 1vw;
 }

 .form-singup {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vh 2vw;
  font-family: 'Readex Pro', sans-serif;
 }

 .form-singup label  {
  font-size: 1.2rem;
  padding: 2.5vh 1vw;
}

.form-singup input {
  font-size: 1.2rem;
  padding: 1vh 1vw;
}

.form-singup  input[type="file"] {

  font-size: 0.8rem;
  margin: 0 15% 0 40%;
  text-align: center;
}

.form-singup .upload-file{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sect-options-bt {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 4px solid #E3000B;
  padding: 4vh 2vw 4vh;
  background-color: #222;
}

.sectionbt-intro-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2vh;
}

.sectionbt-intro button {
  width: 175px;
  margin: 0vh 2vw;
}

.bottom-signlogin {
  padding: 6vh 1vh;
}

.picture-profile {
  width: 250px;
}

.column {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

h2.login {
  position: absolute;
  bottom: 35vh;
}

.sectionbt-bottom {
  position: abosulte;
  display: flex;
  flex-direction: row;

}

.bottom-section {
  position: absolute;
  bottom: 0px;
  width: 100%;
  flex: d;
}

.top-button {
  text-align: center;

}

.container-usprofile { 
display: flex;
flex-direction: column;
align-items: center;
padding: 15vh 1vw;
}

.container-usprofile .picture-profile {
margin-top: 5vh;
}